.categories {
    font-weight: 800;
    background-color: var(--tertiary);
    padding: .25rem;
    border-radius: .5rem;
}

.entry-cover {
    width: 100%;
    aspect-ratio: 2/1;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    position: relative;
}

.entry-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This does the cropping */
    object-position: center;
    /* Optional: Center the crop */
    display: block;
}